body {
	background-color: black;
	color: white;
	margin: 0 auto; /* margin: top/bottom left/right */
	text-align: center;
}

a {
	color: white;
}

a:hover {
	color: red;
}

a:visited {
	color: grey;
}

.item {
	height: 62px;
	width: 88px;
	overflow: hidden;
}

.hero {
	height: 72px;
	width: 128px;
	overflow: hidden;
}

#logo {
	background-image:url("../images/DotaTrack.png");
	background-repeat:no-repeat;
	background-position:center;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	height:500px;
}
